[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = git@github.com:brucem/puppet-apache.git
[submodule "puppet/modules/augeas"]
	path = puppet/modules/augeas
	url = git@github.com:brucem/puppet-augeas.git
[submodule "puppet/modules/common"]
	path = puppet/modules/common
	url = git@github.com:brucem/puppet-common.git
[submodule "puppet/modules/ezpublish"]
	path = puppet/modules/ezpublish
	url = git@github.com:brucem/puppet-ezpublish.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@github.com:brucem/puppet-mysql.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = git@github.com:brucem/puppet-php.git
